html,body{background-color: #fff; overflow:hidden; }
body{height: 100%;}
body{
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  overflow-scrolling:touch;
  -webkit-overflow-scrolling:touch;
  position: relative;            
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
  font-size: .24rem; 
  color: #333;
  }
img{
  display: block;
  max-width: 100%;
  }
a{
  display: block;
  color: #333;
}
.lf{float: left;}
.rt{float: right;}
.clear{clear: both;}

/*section*/
section{ 
  width: 100%;
  height:100%;
  background: url('../images/icon/bg.png') left top no-repeat;
  background-size: cover;
  overflow: hidden;
}
section .img-list{
  position: relative;
  width: 100%;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
}
section .img-list li{
  position: relative;
  width: 100%;
  height: 100%;
}
section .img-list li p{
  position: absolute;
  left: 0;
  top:0;
  width: 2.5rem;
  height: 2.5rem;
  border:.06rem solid #fff;
  border-radius: .12rem;
  -webkit-border-radius: .12rem;
  background-color: #fff;
  overflow: hidden;
}
section .img-list li p:nth-child(1){
  left: 3%;
  top:-3%;
}
section .img-list li p:nth-child(2n){
  left: 55%;
  top:3%;
}
section .img-list li p:nth-child(3n){
  left: 10%;
  top: 22%;
}
section .img-list li p:nth-child(4n){
  left: 47%;
  top: 38%;
}
section .img-list li p:nth-child(5n){
  left: 3%;
  top: 60%;
}
section .img-list li p:nth-child(6n){
  left: 55%;
  top: 74%;
}
section .img-list li p img{
  position: absolute;
  left: 0;
  top:0;
  right:0;
  bottom: 0;
  margin:auto;
  width: 100%;
  height: 100%;
}

/*footer*/
footer{
  position: fixed;
  left: 0;
  bottom:0;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  border-top:1px solid #e5e5e5;
  background-color: #f8f8f8;
  z-index: 999;
}
footer .file-wrap{
  position: absolute;
  left: 50%;
  top: -.56rem;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
}
footer .file-wrap input[type="file"]{
  opacity: 0;
  display: none;
}
footer .file-wrap label{
  display: block;
  width: .92rem;
  height: .92rem;
  border:.04rem solid #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  box-shadow: 0 .05rem .05rem rgba(0,0,0,0.3);
  background: url('../images/icon/cammer.png') center center no-repeat;
  background-size: .7rem .62rem;
  background-color: #008cd4;
}
footer .file-wrap p{
  height: .52rem;
  line-height: .52rem;
  color: #666;
  text-align: center;
}
footer .icon{
  position: absolute;
  right:0;
  top:0;
  width: .48rem;
  height: 100%;
  padding:0 .3rem;
  background: url('../images/icon/line.png') center center no-repeat;
  background-size: .48rem .35rem;
}

/*opacity-container*/
.opacity-container{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;
  z-index: 1000;
}
/*close-container*/
.close-container{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
  z-index: 1004;
  display: none;
}
.close-container .close{
  position: absolute;
  left:50%;
  top:50%;
  width: .64rem;
  height: .64rem;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  background-color: rgba(255,255,255,0.6);
}
.close-container .close:before{
  position: absolute;
  left: 0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  content: "";
  width: .37rem;
  height: .05rem;
  background-color: #969696;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.close-container .close:after{
  position: absolute;
  left: 0;
  top:0;
  right:0;
  bottom:0;
  margin:auto;
  content: "";
  width: .37rem;
  height: .05rem;
  background-color: #969696;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*show-container*/
.show-container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-200%);
  -webkit-transform: translate(-50%,-200%);
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
  width: 82.8125%;
  height: 95.4%;
  border-radius: .1rem;
  -webkit-border-radius:.1rem;
  background-color: #fff;
  opacity: 0;
  z-index: 1001;
  overflow-x: hidden;
  overflow-y: auto;
}
.onshow{
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  opacity: 1;
}

.show-container img{
  width: 100%;
}

.show-container .show-content{
  display: box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  width: 100%;
  height: 1.2rem;
  color: #666;
}
.show-container p{
  padding: 0 .2rem;
  line-height: .36rem;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: box; 
  display: -webkit-box; 
  line-clamp: 1; 
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
}

.animate{-webkit-transition:all .3s ease-out;}