html,body{background-color: #fff;}
body{height: 100%;}
body{
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  overflow-scrolling:touch;
  -webkit-overflow-scrolling:touch;
  position: relative;            
  font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;
  font-size: .24rem; 
  color: #333;
  }
img{
  display: block;
  max-width: 100%;
  }
a{
  display: block;
  color: #333;
}
.lf{float: left;}
.rt{float: right;}
.clear{clear: both;}

/*header*/
header{
  height: .8rem;
  padding-top: .4rem;
}
header ol{
  display: box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  width: 3.92rem;
  margin: 0 auto;
  border: 1px solid #008fd7;
  border-radius: .06rem;
  -webkit-border-radius: .06rem;
}
header ol li{
  width: 33.3333333333333333333333%;
  height: .5rem;
  line-height: .5rem;
  font-size: .22rem;
  text-align: center;
}
header ol .liActive{
  background-color: #008fd7;
}
header ol li a{
  color: #008fd7;
}
header ol .liActive a{
  color: #fff;
}
/*section*/
section{
  padding:0 .2rem;
}
section ul{
  width: 100%;
}
section ul li{
  width: 100%;
  margin-bottom: .4rem;
  border: 1px solid #999;
  border-top: 0;
  border-radius: .08rem;
  -webkit-border-radius: .08rem;
  overflow: hidden;
}
section ul li:last-child{
  margin-bottom: 0;
}
section ul li a{
  width: 100%;
}
section ul li .img-wrap{
  width: 100%;
  height: 2.96rem;
  overflow: hidden;
}
section ul li .img-wrap img{
  width: 101%;
  height: 100%;
}
section ul li .content{
  padding:.15rem 0 .05rem 0;
  border-top:1px solid #999;
}
section ul li .content h4{
  padding-left: .18rem;
  font-size: .28rem;
  line-height: 1.5;
}
section ul li .content p{
  display: box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  height: .5rem;
  line-height: .5rem;
  padding:0 .2rem;
  font-size: .2rem;
  color: #666;
}
section ul li .content p span{
  display: block;
  padding-left: .4rem;

}
section ul li .content p span:nth-child(1){
  background: url('../images/icon/time.png') left center no-repeat;
  background-size:.28rem .26rem;
}
section ul li .content p span:nth-child(2){
  background: url('../images/icon/num.png') left center no-repeat;
  background-size:.3rem .22rem;
}

/*footer*/
footer{
  height: .8rem;
  line-height: .8rem;
  font-size: .22rem;
  color:#999;
  text-align: center;
}